#states-crud-container {
  width: 100%;
  height: 100%;
  margin-block: auto;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: stretch;
}

#states-crud-table {
  width: 60%;
}

#table-action-icons {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 800px) {
  #states-crud-container {
    flex-direction: column;
  }

  #states-crud-container > * {
    width: 100%;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #printableContent * {
    visibility: visible;
  }
  #printableContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
