* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

:root {
  --custom-red: #b83955;
  --custom-blue: #234a83;
  --custom-lightBlack: #494953;
  --custom-white: #f2f2f2;
  --custom-black: #252725;
}
